@media (min-width:320px)
{
    header .navbar
{
    width: 100%;
    height: 150px;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background-color: brown;
    padding: 30px 15%;
    font-weight: bold;
    font-size: 15px;
}
.menu ul
{
    flex-direction: column;
    color: white;

}
.menu ul li
{
    text-decoration: none;
    padding-left: 10px;
    list-style: none;
    color: white;
}
.banner
{
    position: relative;
}
.banner img
{
    height: 650px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.layer
{
    position: absolute;
    top: 65%;
    left: 15%;
}
.layer h1
{
    color: aliceblue;
    font-size: 40px;
   
}
.layer p
{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 10px;
}
.layer a
{
    color: aliceblue;
    border: 1px solid white;
    padding: 5px;
}
.side
{
    width:100%;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}
.left
{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
.right
{
    width: 100%;
    text-align: center;
}
.box
{
    width: 100%;
    height: 600px;
   flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
.box1
{
    width: 100%;
    height: 150px;
    color: aquamarine;
    background-color: black;
    position: relative;
    
   
}
.box2
{
    width: 100%;
    height: 150px;
    color: aquamarine;
    background-color: black;
    position: relative;
   
    
}
.box3
{
    width: 100%;
    height: 150px;
    color: aquamarine;
    background-color: black;
    position: relative;
   
}
.box1 ,.box2,.box3 h2
{
    padding: 10px;
}
.box1 p
{
    position: absolute;
    top: 35%;
    left: 15%;
}
.box2 p
{
    position: absolute;
    top: 35%;
    left: 20%;
}
.box3 p
{
    position: absolute;
    top: 35%;
    left: 20%;
}
.box1 span
{
    color: black;
    position: absolute;
    bottom: -50%;
    font-weight: bold;
    font-size: 15px;
}
.box2 span
{
    color: black;
    position: absolute;
    bottom: -50%;
    font-weight: bold;
    font-size: 15px;
}
.box3 span
{
    color: black;
    position: absolute;
    bottom: -40%;
    font-weight: bold;
    font-size: 15px;
}
.content
{
    width: 100%;
    height: 450px;
    position: relative;
    margin-top: 20%;
}
.content img
{
    width: 100%;
    height: 450px;
    

}
.content h1
{
    position: absolute;
    bottom: 55%;
    font-size: 20px;
    left: 30%;
    text-align: right;
}
.content p
{
    position: absolute;
    bottom:45%;
    left: 30%;
    text-align: right;
    font-size: 10px;
    font-weight: bold;
}
.content a
{
    position: absolute;
    bottom: 40%;
    left: 65%;
    font-size: 10px;
    color: black;
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 2px;
}
.gallery
{
    width: 100%;
    margin: auto;
    margin-top: 20px;
}
.lhs h3
{
    font-size: 10px;
    text-align: center;
}
.lhs p
{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.frame
{
    width: 100%;
    height: 600px;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    
}
.frame1
{
    width: 100%;
    height: 300px;
    padding-bottom: 20%;

    text-align: center;
    position: relative;
}
.frame1 img
{
    height: 100%;
    width: 100%;
}

.frame1 .frame-text1
{
    position: absolute;
    width: 100%;
    bottom:-3%;
    
}
.frame2
{
    width: 100%;
    height: 250px;
    text-align: center;
    position: relative;
    margin-top: 5%;
}
.frame2 img
{
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
}
.frame2 .frame-text2
{
    position: absolute;
    width: 100%;
    bottom:-27%;    
}
.frame3
{
    width: 100%;
    height: 250px;
    margin-top: 5%;
    text-align: center;
    position: relative;
 
}
.frame3 img
{
    height: 100%;
    width: 100%;
    margin-top: 15%;
}
.frame3 .frame-text3
{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom:-47%;   
}
.frame-text1 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}
.frame-text2 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}
.frame-text3 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}

.foot
{
    width: 100%;
    height: 250px;
    background-color: black;
    margin-top: 90%;
    margin-left: -2%;
}
.foot .div
{
    width: 100%;
   
}

.foot .div img
{
    width: 60%;
    height: 200px;
    margin-top: 6%;
    
}
.foot .div h1
{
    text-align: center;
    color: aliceblue;
    padding-top: 8%;
    font-size: 15px;
    margin-left: 8%;

}
.foot .div p
{
    text-align: justify;
    font-size: 10px;
    margin-left: 42%;
    color: aliceblue;
}
.footer
{
    width: 100%;
    height: 100px;
    background-color: black;
    color: aqua;
    margin-top: 15%;
    flex-direction: column;
    justify-content: space-between;
   
}
.footer .left
{
  display: block;
 align-items: center;
  width: 10%;
  margin-right: 25%;
  margin-top: 5%;
} 
.footer .right ul
{
    margin-right: 20%;
}
.footer .right ul li
{
    height: 50px;
    float: right;
    display: flex;
    list-style: none;
    font-size: 40px;
    padding-right: 10px;
    color: aliceblue;
}

}

@media (min-width:769px)
{
    header .navbar
    {
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        background-color: brown;
        padding: 30px 15%;
        font-weight: bold;
        font-size: 15px;
    }
    .menu ul
    {
        flex-direction: row;
        color: white;
    
    }
    .menu ul li
    {
        text-decoration: none;
        padding-left: 10px;
        list-style: none;
        color: white;
    }
    .banner img
    {
        height: 650px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .layer
    {
        position: absolute;
        top: 50%;
        left: 15%;
    }
    .layer h1
    {
        color: aliceblue;
        font-size: 40px;
    }
    .layer p
    {
        color: aliceblue;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .layer a
    {
        color: aliceblue;
        border: 1px solid white;
        padding: 5px;
    }
    .side
{
    width:100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}
.left
{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 0%;
}
.right
{
    width: 100%;
    text-align: left;
}
.box
{
    width: 60%;
    height: 350px;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.box1
{
    width: 30%;
    height: 200px;
    color: aquamarine;
    background-color: black;
    position: relative;
}
.box2
{
    width: 30%;
    height: 200px;
    color: aquamarine;
    background-color: black;
    position: relative;
}
.box3
{
    width: 30%;
    height: 200px;
    color: aquamarine;
    background-color: black;
    position: relative;
}
.box1 ,.box2,.box3 h2
{
    padding: 10px;
}
.box1 p
{
    position: absolute;
    top: 35%;
    left: 15%;
}
.box2 p
{
    position: absolute;
    top: 35%;
    left: 20%;
}
.box3 p
{
    position: absolute;
    top: 35%;
    left: 20%;
}
.box1 span
{
    color: black;
    position: absolute;
    bottom: -50%;
    font-weight: bold;
    font-size: 15px;
}
.box2 span
{
    color: black;
    position: absolute;
    bottom: -50%;
    font-weight: bold;
    font-size: 15px;
}
.box3 span
{
    color: black;
    position: absolute;
    bottom: -50%;
    font-weight: bold;
    font-size: 15px;
}
.content
{
    width: 100%;
    height: 450px;
    position: relative;
    margin-top: 20px;
}
.content img
{
    width: 100%;
    height: 450px;
    
}
.content h1
{
    position: absolute;
    bottom: 55%;
    font-size: 35px;
    left: 45%;
    text-align: right;
}
.content p
{
    position: absolute;
    bottom:45%;
    left: 50%;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}
.content a
{
    position: absolute;
    bottom: 38%;
    left: 68%;
    font-size: 20px;
    color: black;
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 2px;

}
.gallery
{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.lhs h3
{
    font-size: 10px;
    text-align: left;
}
.lhs p
{
    font-size: 30px;
    text-align: left;
}
.frame
{
    width: 100%;
    height: 400px;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.frame1
{
    width: 50%;
    height: 330px;

    text-align: center;
    position: relative;
}
.frame1 img
{
    height: 100%;
    width: 100%;
}
.frame-text
{
    padding-left: 20px;
}
.frame1 .frame-text1
{
    position: absolute;
    bottom:5%;
    
}
.frame2
{
    width: 50%;
    height: 250px;
    text-align: center;
    position: relative;
    margin-top: 0%;
}
.frame2 img
{
    height: 100%;
    width: 100%;
}
.frame2 .frame-text2
{
    position: absolute;
    bottom:-25%;
    
}
.frame3
{
    width: 100%;
    height: 250px;
    text-align: center;
    position: relative;
    margin-top: -10%;
}
.frame3 img
{
    height: 100%;
    width: 100%;
}
.frame3 .frame-text3
{
    position: absolute;
    bottom:-57%;   
}
.frame-text1 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}
.frame-text2 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}
.frame-text3 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}

.foot
{
    width: 70%;
    height: 500px;
    background-color: black;
    margin-left: 25%;
    margin-top: 40%;
    position: relative;
}


.foot .div img
{
    width: 50%;
    height: 400px;
    margin-top: 6%;
    position: absolute;
    left: -25%;
}
.foot .div h1
{
    text-align: center;
    color: aliceblue;
    padding-top: 8%;
    font-size: 25px;
    margin-left: 0%;

}
.foot .div p
{
    text-align: justify;
    font-size: 15px;
    margin-left: 38%;
    color: aliceblue;
}

.footer
{
    width: 100%;
    height: 150px;
    background-color: black;
    color: aqua;
    margin-top: 15%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer .left
{
  display: block;
  padding-left: 5%;
  margin-top: 0%;
  width: 10%;
} 
.footer .right ul
{
    margin-right: 10%;
}
.footer .right ul li
{
    height: 50px;
    float: right;
    display: flex;
    list-style: none;
    font-size: 30px;
    padding-right: 10px;
    color: aliceblue;
}


}
@media (min-width:1024px)
{

    .side
    {
        width:100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 10px;
    }
    .left
    {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        padding-left: 0%;
    }
    .right
    {
        width: 100%;
        text-align: left;
    }
    .box
    {
        width: 60%;
        height: 350px;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    .box1
    {
        width: 30%;
        height: 200px;
        color: aquamarine;
        background-color: black;
        position: relative;
    }
    .box2
    {
        width: 30%;
        height: 200px;
        color: aquamarine;
        background-color: black;
        position: relative;
    }
    .box3
    {
        width: 30%;
        height: 200px;
        color: aquamarine;
        background-color: black;
        position: relative;
    }
    .box1 ,.box2,.box3 h2
    {
        padding: 10px;
    }
    .box1 p
    {
        position: absolute;
        top: 35%;
        left: 15%;
    }
    .box2 p
    {
        position: absolute;
        top: 35%;
        left: 20%;
    }
    .box3 p
    {
        position: absolute;
        top: 35%;
        left: 20%;
    }
    .box1 span
    {
        color: black;
        position: absolute;
        bottom: -50%;
        font-weight: bold;
        font-size: 15px;
    }
    .box2 span
    {
        color: black;
        position: absolute;
        bottom: -50%;
        font-weight: bold;
        font-size: 15px;
    }
    .box3 span
    {
        color: black;
        position: absolute;
        bottom: -33%;
        font-weight: bold;
        font-size: 15px;
    }
    .content
{
    width: 100%;
    height: 450px;
    position: relative;
    margin-top: 20px;
}
.content img
{
    width: 100%;
    height: 450px;
    
}
.content h1
{
    position: absolute;
    bottom: 55%;
    font-size: 35px;
    left: 47%;
    text-align: right;
}
.content p
{
    position: absolute;
    bottom:45%;
    left: 50%;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}
.content a
{
    position: absolute;
    bottom: 38%;
    left: 60%;
    font-size: 20px;
    color: black;
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 2px;
}
.gallery
{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.lhs h3
{
    font-size: 10px;
    text-align: left;
}
.lhs p
{
    font-size: 30px;
    text-align: left;
}
.frame
{
    width: 100%;
    height: 400px;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.frame1
{
    width: 30%;
    height: 400px;
    text-align: center;
    position: relative;
}
.frame1 img
{
    height: 100%;
    width: 100%;
}
.frame-text
{
    padding-left: 20px;
}
.frame1 .frame-text1
{
    position: absolute;
    bottom:10%;
    
}
.frame2
{
    width: 30%;
    height: 290px;
    text-align: center;
    position: relative;
    margin-top: 0%;
}
.frame2 img
{
    height: 100%;
    width: 100%;
}
.frame2 .frame-text2
{
    position: absolute;
    bottom:-35%;
    
}
.frame3
{
    width: 30%;
    height: 287px;
    text-align: center;
    position: relative;
    margin-top:-5%;
}
.frame3 img
{
    height: 100%;
    width: 100%;
}
.frame3 .frame-text3
{
    position: absolute;
    bottom:-47%;   
}
.frame-text1 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}
.frame-text2 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}
.frame-text3 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}

.foot
{
    width: 70%;
    height: 500px;
    background-color: black;
    margin-left: 25%;
    margin-top: 5%;
    position: relative;
}


.foot .div img
{
    width: 50%;
    height: 400px;
    margin-top: 6%;
    position: absolute;
    left: -25%;
}
.foot .div h1
{
    text-align: center;
    color: aliceblue;
    padding-top: 8%;
    font-size: 30px;
   

}
.foot .div p
{
    text-align: justify;
    font-size: 15px;
    margin-left: 40%;
    color: aliceblue;
}

.footer
{
    width: 100%;
    height: 150px;
    background-color: black;
    color: aqua;
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left
{
  display: block;
  padding-left: 5%;
  width: 10%;
} 
.footer .right ul
{
    margin-right: 10%;
}
.footer .right ul li
{
    height: 50px;
    float: right;
    display: flex;
    list-style: none;
    font-size: 40px;
    padding-right: 10px;
    color: aliceblue;
}
}

@media (min-width:1200px)
{
header .navbar
{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding: 30px 15%;
    font-weight: bold;
    font-size: 15px;
}
.menu ul
{
    display: flex;
    color: white;

}
.menu ul li
{
    text-decoration: none;
    padding-left: 10px;
    list-style: none;
    color: white;
}
.banner img
{
    height: 650px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.layer
{
    position: absolute;
    top: 40%;
    left: 15%;
}
.layer h1
{
    color: aliceblue;
    font-size: 40px;
}
.layer p
{
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 10px;
}
.layer a
{
    color: aliceblue;
    border: 1px solid white;
    padding: 5px;
}
.side
{
    width:50%;
    margin: auto;
    display:flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left
{
    padding-left: 10%;
}
.right
{
    font-size: 10px;
}
.box
{
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.box1
{
    width: 30%;
    height: 200px;
    color: aquamarine;
    background-color: black;
    position: relative;
}
.box2
{
    width: 30%;
    height: 200px;
    color: aquamarine;
    background-color: black;
    position: relative;
}
.box3
{
    width: 30%;
    height: 200px;
    color: aquamarine;
    background-color: black;
    position: relative;
}
.box1 ,.box2,.box3 h2
{
    padding: 10px;
}
.box1 p
{
    position: absolute;
    top: 35%;
    left: 15%;
}
.box2 p
{
    position: absolute;
    top: 35%;
    left: 20%;
}
.box3 p
{
    position: absolute;
    top: 35%;
    left: 20%;
}
.box1 span
{
    color: black;
    position: absolute;
    bottom: -50%;
    font-weight: bold;
    font-size: 15px;
}
.box2 span
{
    color: black;
    position: absolute;
    bottom: -50%;
    font-weight: bold;
    font-size: 15px;
}
.box3 span
{
    color: black;
    position: absolute;
    bottom: -40%;
    font-weight: bold;
    font-size: 15px;
}
.content
{
    width: 100%;
    height: 450px;
    position: relative;
}
.content img
{
    width: 100%;
    height: 450px;
    

}
.content h1
{
    position: absolute;
    bottom: 55%;
    font-size: 35px;
    left: 50%;
    text-align: right;
}
.content p
{
    position: absolute;
    bottom:45%;
    left: 54%;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
}
.content a
{
    position: absolute;
    bottom: 38%;
    left: 65%;
    font-size: 20px;
    color: black;
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 2px;
}
.gallery
{
    width: 60%;
    margin: auto;
    margin-top: 20px;
}
.lhs h3
{
    font-size: 10px;
}
.lhs p
{
    font-size: 30px;
}
.frame
{
    width: 100%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.frame1
{
    width: 30%;
    height: 400px;

    text-align: center;
    position: relative;
}
.frame1 img
{
    height: 100%;
    width: 100%;
}
.frame-text
{
    padding-left: 20px;
}
.frame1 .frame-text1
{
    position: absolute;
    bottom:22%;
    
}
.frame2
{
    width: 30%;
    height: 250px;
    text-align: center;
    position: relative;
}
.frame2 img
{
    height: 100%;
    width: 100%;
}
.frame2 .frame-text2
{
    position: absolute;
    bottom:-25%;
    
}
.frame3
{
    width: 30%;
    height: 240px;
    text-align: center;
    position: relative;
}
.frame3 img
{
    height: 100%;
    width: 100%;
}
.frame3 .frame-text3
{
    position: absolute;
    bottom:-45%;   
}
.frame-text1 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}
.frame-text2 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;
    
}
.frame-text3 a
{
    border: 1px solid coral;
    padding: 3px;
    background-color: coral;
    color: aquamarine;
    text-decoration: none;   
}

.foot
{
    width: 65%;
    height: 500px;
    background-color: black;
    margin-left: 25%;
    position: relative;
}

.foot .div img
{
    width: 40%;
    height: 400px;
    margin-top: 6%;
    position: absolute;
    left: -20%;
}
.foot .div h1
{
    text-align: center;
    color: aliceblue;
    padding-top: 8%;
    font-size: 35px;

}
.foot .div p
{
    text-align: justify;
    font-size: 20px;
    margin-left: 40%;
    color: aliceblue;
}
.footer
{
    width: 100%;
    height: 150px;
    background-color: black;
    color: aqua;
    margin-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left
{
  display: block;
  padding-left: 5%;
  width: 10%;
} 
.footer .right ul
{
    margin-right: 10%;
}
.footer .right ul li
{
    height: 50px;
    float: right;
    display: flex;
    list-style: none;
    font-size: 40px;
    padding-right: 10px;
    color: aliceblue;
}

}
